<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    <form th:action="@{/users}" enctype="multipart/form-data" method="post" th:object="${user}">
        <label for="email">Email:
            <input id="email" type="text" name="email" th:value="*{email}">
        </label><br>
        <label for="phone">Mobile phone:
            <input id="phone" type="text" name="phone" th:value="*{phone}">
        </label><br>
        <label for="rowPassword">Password:
            <input id="rowPassword" type="password" name="rowPassword">
        </label><br>
        <label for="firstname">Firstname:
            <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
        </label><br>
        <label for="lastname">Lastname:
            <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
        </label><br>
        <div th:each="gender : ${genders}">
            <input th:id="${gender}" type="radio" name="gender" th:value="${gender}" th:checked="${gender == user.gender}">
            <label th:for="${gender}" th:text="${gender}">Gender name</label>
        </div>
        <label for="image">Image:
            <input id="image" type="file" name="image">
        </label><br>
        <div th:each="role : ${roles}">
            <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
            <label th:for="${role}" th:text="${role}">Role name</label>
        </div>
        <label for="birthday">Birthday:
            <input id="birthday" type="date" name="birthday" th:value="*{birthday}">
        </label><br>
        <label for="description">Description:
            <input id="description" type="text" name="description" th:value="*{description}">
        </label><br>
        <button type="submit">Register</button>
    </form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>