<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Specialist</title>
    <span th:text="#{specialist.specialist}">Specialist</span>
</head>
<body>
    <div th:if="${specialist}">
        <div th:if="${specialist.image}">
            <img th:src="@{/api/v1/users/{specialistId}/avatar(specialistId=${specialist.id})}" alt="Specialist image">
        </div>
        <span th:text="${specialist.fullName}">Specialist full name</span>
        <span th:text="${specialist.description}">Specialist description</span>
    </div>
<!--    <div>Reviews</div>-->
</body>
</html>