<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="header">
        <div th:fragment="locale">
            <form action="">
                <select name="lang" onchange="this.form.submit()">
                    <option value="en">EN</option>
                    <option value="ru">RU</option>
                </select>
            </form>
        </div>
        <form th:action="@{/specialists}">
            <button><span th:text="#{specialists.specialists}">Specialists</span></button>
        </form>
<!--            <span th:text="${#authentication.principal.firstName}">First name</span>-->
            <form th:if="${user  != null}" th:action="@{/logout}" method="post">
                <button type="submit"><span th:text="#{logout.logout}">Logout</span></button>
            </form>
        <div th:unless="${user}">
            <form th:action="@{/login}" method="get">
                <button type="submit"><span th:text="#{login.login}">Login</span></button>
            </form>
        </div>
    </div>
</body>
</html>